AddDefaultCharset utf-8
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]


</IfModule>

<IfModule LiteSpeed>
    RewriteEngine On

    RewriteRule ^media/.*\.(sh|bash|zsh|ksh|csh|tcsh|txt|php)$ - [F,L]
    RewriteRule ^uploads/.*\.(sh|bash|zsh|ksh|csh|tcsh|txt|php)$ - [F,L]
    RewriteRule ^assets/.*\.(sh|bash|zsh|ksh|csh|tcsh|txt|php)$ - [F,L]
    RewriteRule ^file/.*\.(sh|bash|zsh|ksh|csh|tcsh|txt|php)$ - [F,L]
</IfModule>